.container {
    display: flex;            
    align-items: center;
    gap: 30px;
    background-color: rgb(145, 96, 206);
    color: white;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.profile-img {
    width: 200px;     
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.text {
    flex: 1;
}

.title{
    color:rgb(62, 29, 101);
}

.CV{
    display: flex;            
    align-items: center;
    gap: 30px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    color:rgb(62, 29, 101);
}

.link{
    color:rgb(62, 29, 101);
}