.slides{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slides img{
    aspect-ratio:1/1;
    width: 70%;
    height: auto;
    object-fit: contain;
}

button{
    border-radius: 40%;
    border: 1px dotted rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}

button:hover{
    opacity: 0.6;
}



.open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
}

.open img{
    height: 80%;
    width: auto;
}