
.PremierLigne{
    display:flex;
}
.Intro{
    flex:8;
    border-radius: 40px;
    box-shadow: 0 0 10px #0009;
    padding:20px;

    display: flex;
}
.espace{
    flex:1;
}
.CV{
    flex:4;
    border-radius: 40px;
    box-shadow: 0 0 10px #0009;
    padding:20px;
    
    overflow: hidden;
}

.DeuxiemeLigne{
    display:flex;
}

.contacts{
    flex:8;

    border-radius: 40px;
    box-shadow: 0 0 10px #0009;
    padding:20px;
}

.contact{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact a{
    text-decoration: none;
    color:black;
}

.sections{
    flex:10;
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 2em;

}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 40px;
    background-color: rgb(105,40,177);
    color:white;
    box-shadow: 0 0 10px #0009;
}

.section:hover{
    transform: translateY(-3px);
}

.contact img{
    width: 5%;
    height: auto;
}

.text{
    flex:10;
}

h1{
    font-family: "Archivo Black", sans-serif;
    font-size: 45px;
}

h2{
    font-family: "Archivo Black", sans-serif;
    font-size: 35px;
}

h3{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a{
  font-family: "Lora", serif;
  font-size: 25px;
}


.profile{
    flex:9;
}

.profile img{
    width: 100%;
    height:auto;
    flex-shrink: 0;
}

.photoCV {
    width: 100%;
    height: 100%;
}

.photoCV img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
