.container_even{
    background-color: rgba(145, 96, 206);
    color: white;         
    padding: 30px;       
    width: 100%;
    box-sizing: border-box;
}

.container_odd{
    padding: 30px;       
    width: 100%;
    color:rgb(62, 29, 101);
    box-sizing: border-box;
}

.cadre {
    border: 3px solid rgb(62, 29, 101);
    padding: 30px;               
    border-radius: 10px;         
    margin: 20px 0;     
}