.container_even{
    background-color: rgb(174, 106, 238);
    color: white;         
    padding: 30px;       
    width: 100%;
    box-sizing: border-box;
}

.container_odd{
    padding: 30px;       
    width: 100%;
    box-sizing: border-box;
}

.cadre {
    border: 3px solid rgb(60, 15, 102);
    padding: 30px;               
    border-radius: 10px;         
    margin: 20px 0;     
}