.container{
    display:flex;
}

.sidebar{
    background-color: rgb(105,40,177);

    position:fixed;
    top:0;
    left:0;

    width:400px;
    height: 100%;

    padding:10px;

    flex:1;
}

.contacts{
    display: flex;
    flex-direction: column;

    position:absolute;
    bottom: 28px;
    left: 28px;
    right: 28px;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.contact a{
    font-family: "Lora", serif;
    font-size: 17px;
    color:white;
    text-decoration:none;
}

hr {
    border: none;
    border-top: 1px solid white;
    margin: 10px 0;
}

.profile{
    width: 100%;
}

/*réalisé à partir de ce code : https://menuhover.com/*/
nav a {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
  
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
    background-size: 200% auto;
    transition: all .5s;
    transform: translateX(-100%);
}
  
nav a:hover::after {
    transform: translateX(0%);
    animation: gradient-89 3s linear infinite;
}
  
@keyframes gradient-89 {
    0% { background-position: 100% 0%; }
    50% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}

nav{
    display:flex;
    flex-direction: column;
    align-items: flex-start;

}

nav a{
    color:white;
    font-family: "Lora", serif;
    font-size: 40px;
    margin-bottom: 10px; 
    font-style: normal;
}

.main{
    flex:1;
    padding:20px;
    margin-left: 450px; 
}