.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slides{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 40%;
    border: 1px dotted rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}

button:hover{
    opacity: 0.6;
}

img {
    width: 82% !important;
    height: 82% !important;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}